.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #c9ccd6;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .05em;
}