
.button {
  margin: 0;
  padding: 9px 25px;
  background-color: inherit;
  border: 1px solid #161513;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
