.welcome {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  min-height: 200px;
  padding-bottom: 100px;
  border-bottom: 1px solid $white-blue;
  margin-top: 20px;

  @media screen and (max-width: 1100px) {
    gap: 20px;
  }

  @media screen and (max-width: 850px) {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__p-wrapper {
    margin: 20px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    @media screen and (max-width: 500px) {
      text-align: center;
      margin: 30px 0 0;
      max-width: 100%;
      padding: 0 10px;
    }
  }

  &__text-wrapper {
    position: relative;
  }

  &__button {
    margin-top: 50px;
    display: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 0;

    &_open {
      display: block;
      overflow: visible;
    }
  }

  &__circle {
    animation: scroll-circle ease-in-out 2.5s infinite;
  }

  @keyframes scroll-circle {
    0% {
      transform: translateY(0);
      opacity: 0.2;
    }

    20%  {
      opacity: 1;
    }

    50% {
      transform: translateY(25px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }

  &__image {
    height: 390px;
    animation: gravity 3s infinite ease-in-out;

    @media screen and (max-width: 1100px) {
      margin-top: -50px;
      width: 100%;
    }
  }

  @keyframes gravity {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(0);
    }

  }

  &__text-wrapper {
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
    flex-direction: column;
    @include flex-center;

    @media screen and (max-width: 500px) {
      margin-top: 20px;
    }

    h2 {
      @include reset;
      font-family: 'Roboto', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 64px;
      letter-spacing: 0.01em;
      color: $main-blue;
      margin-bottom: 20px;
      text-align: center;

      @media screen and (max-width: 500px) {
        font-size: 40px;
        line-height: 55px;
        margin-bottom: 5px;
      }

      @media screen and (max-width: 335px) {
        font-size: 35px;
        line-height: 50px;
      }

    }

    em {
      font-family: 'Roboto', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: $white-gray;
      text-align: center;

      @media screen and (max-width: 500px) {
        font-size: 20px;
        line-height: 25px;
      }

      h3 {
        @include reset;
        margin: 50px 0 0;
        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: $white-gray;
      }

      ul {
        @include reset;
        list-style-type: square;
        margin-left: 12px;

        li {
          @include reset;
          color: $white-gray;
          font-size: 16px;
          line-height: 25px;

          &::marker {
            color: $main-blue;
          }
        }
      }
    }
  }
}