@import "src/scss/patterns/index";

.line {
  width: 20px;
  height: 0.5px;
  background-color: $dark-gray;
  margin: 0 5px;
}

.work {
  padding: 0 70px;
  margin: 0 auto;
  flex-direction: column;
  @include flex-center;

  &__navigation {
    @include flex-center-center;
    align-self: flex-start;
  }

  &__navigation .cube {
    margin: 0;
  }

  &__back a {
    @include reset;
    color: $white-gray;
    text-decoration: none;
    border-bottom: 0.5px dashed #fff;
    font-size: 14px;
    line-height: 20px;
  }

  &__current-page {
    @include reset;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: $main-blue;
  }

  &__title {
    text-align: center;
    width: 100%;
    font-family: Roboto, serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 64px;
    letter-spacing: 0.01em;
    color: #4B98F2;
  }

  &__image {
    margin-top: 40px;

    width: 70%;
  }

  &__box-image {
    @include flex-center-center;
    flex-direction: column;
  }
}